@font-face {
  font-family: 'SF Pro Display';
  src: url(../fonts/SFPRODISPLAYBOLD.OTF);
  font-weight: 700;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url(../fonts/SFPRODISPLAYREGULAR.OTF);
  font-weight: 400;
}


html, body {
  margin: 0;
  padding: 0;
}
.download {
  width: calc(100% - 100px);
  height: calc(100vh - 100px);
  padding: 50px;
  background-image: url("../img/download app.webp");
  background-size: cover;
}

.download-title {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 76px;
  color: #FFFFFF;
  margin-top: 160px;
  margin-bottom: 60px;
}
.download-subtitle {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 12px;
}
.download-btns {
  display: flex;
  align-items: center;
}
.download-btns a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.download-btns a:first-child {
  margin-right: 16px;

}

@media screen and (max-width: 990px){
  .download {
    background-image: url("../img/download tablet.webp");
    background-position-x: center;
  }
  .download-title {
    text-align: center;
    font-size: 60px;
    line-height: 72px;
    margin-top: 460px;
  }
  .download-subtitle {
    text-align: center;
  }
  .download-btns {
    width: 350px;
    justify-content: center;
    margin: 0 auto;
  }
}

@media screen and (max-width: 500px) {
  .logo {
    width: 82px;
    margin: 0 auto;
  }
  .logo img {
    width: 100%;
  }
  .download {
    width: calc(100% - 32px);
    height: calc(100vh - 30px);
    padding: 30px 16px 0;
  }
  .download-title {
    font-size: 36px;
    line-height: 43px;
    margin-top: 360px;
    margin-bottom: 40px;
  }
  .download-subtitle {
    font-size: 18px;
    line-height: 21px;
  }
  .download-btns {
    width: 100%;
  }
  .download-btns a img{
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-height: 670px) {
  .download {
    min-height: 100vh;
  }
}
