@font-face {
    font-family: 'Graphik LCG';
    src: url(../fonts/GraphikLCG-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url(../fonts/GraphikLCG-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url(../fonts/GraphikLCG-Semibold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url(../fonts/GraphikLCG-Bold.ttf);
    font-weight: 700;
}


html, body {
    box-sizing: border-box;
    font-family: 'Graphik LCG';
    margin: 0;
    padding: 0;
    background: #FFFFFF;
}
p {
    margin: 0;
}
.container {
    padding: 0 24px;
}
header, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
}
header .container, footer .container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
header a, footer a {
    display: flex;
    text-decoration: none;
    align-items: center;
}
header .header-logo, footer .header-logo {
    display: flex;
    align-items: center;
}
header .header-logo img:first-child, footer .header-logo img:first-child {
    margin-right: 13px;
}
header .header-btn, footer .header-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3447F6;
    border-radius: 40px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.5px;
    color: #FFFFFF;
    width: 134px;
    height: 32px;
}
.hero {
    padding-top: 44px;
    padding-bottom: 30px;
    background: linear-gradient(167.68deg, #15006B 23.27%, #469BFF 91.04%);
}
.hero-img {
    width: 100%;
}
.hero-img--desktop {
    display: none;
}
.hero-img img {
    width: 100%;
    height: 100%;
}
.hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #E2FFCF;
}
.hero-list {

}
.hero-list_item {
    display: flex;
    min-height: 34px;
}
.hero-list_item-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3px;
}
.hero-list_item-icon .line {
    background: #6499FF;
    width: 1px;
    height: 100%;
    margin-left: -1px;
}
.hero-list_item-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    margin-left: 10px;
}
.hero-list_item {
    display: flex;
    min-height: 34px;
}
.hero-list_item-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3px;
}
.hero-list_item-icon .line {
    background: #6499FF;
    width: 1px;
    height: 100%;
    margin-left: -1px;
}
.hero-list_item-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    margin-left: 10px;
}
.hero-list_item:last-child .hero-list_item-icon .line {
    background: linear-gradient(180deg, #6499FF 0%, rgba(223, 221, 253, 0) 100%);
}
.hero-card {
    background: #E2FFCF;
    border-radius: 16px;
    width: calc(100% - 40px);
    margin-top: 27px;
    padding: 20px;
}
.hero-card_title {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #000000;
}
.hero-card_btn {
    font-weight: 600;
    font-size: 15.0275px;
    line-height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
    margin-top: 14px;
    margin-bottom: 14px;
    height: 51.76px;
    color: #FFFFFF;
    background: #423EFF;
    border-radius: 42.9358px;
}
.hero-card_market {
    display: flex;
    justify-content: space-between;
}
.hero-card_market-item {
    width: 48%;
}
.hero-card_market-item img {
    width: 100%;
}

.main {
    padding-bottom: 40px;
}
.main-title {
    margin-top: 34px;
    font-weight: 600;
    font-size: 26px;
    line-height: 30px;
    color: #000000;
}
.main-subtitle {
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    color: #000000;
    margin-top: 18px;
}
.main-img {
    margin-top: 30px;
    width: calc(100% - 54px);
    background: linear-gradient(110.14deg, #CFCBFF 12.54%, #D5E6FF 65.8%);
    border-radius: 14px;
    height: 143px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 34px;
}
.main-img img:first-child {
    margin-top: 20px;
}
.main-img img:last-child {
    margin-top: -22px;
}
.main-service {
    margin-top: 22px;
}
.main-service_item {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 12px;
}
.main-service_item-icon {

}
.main-service_item-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-left: 10px;
}
.main-inbody_card {
    width: 100%;
    min-height: 358px;
    background: #FFFFFF;
    border: 0.5px solid #D3D4E5;
    border-radius: 16px;
    overflow: hidden;
    margin-top: 28px;
}
.main-inbody_card-img {
    width: 100%;
}
.main-inbody-icons {
    margin-top: -40px;
    width: 100%;
}
.main-inbody_card-container {
    padding-left: 23px;
    padding-right: 23px;
    padding-bottom: 23px;
}
.main-inbody_card-text {
    margin-top: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}
.download-app_card {
    background: #E2FFCF;
    border-radius: 16px;
    padding: 20px;
    width: calc(100% - 40px);
}
.main-title-center {
    text-align: center;
}
.main-advantages {
    margin-top: 30px;
}
.main-advantages_card {
    display: flex;
    align-items: center;
    background: #EDF4FF;
    border-radius: 14px;
    overflow: hidden;
    margin-bottom: 20px;
}
.main-advantages_card-img {
    min-height: 90px;
    min-width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #BEB6FF;
}
.main-advantages_card-img .main-advantages_card-img-div{
    height: auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-advantages_card-img-div img {

}
.main-advantages_card-content {
    padding: 12px;
}
.main-advantages_card-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}
.main-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 34px;
}
.footer-card {
    margin-top: 44px;
    overflow: hidden;
    border-radius: 16px;
    background: #F2F1FF;
}
.footer-card_content {
    padding: 20px;
}

footer {
    background: #FFFFFF;
    border-top: 0.5px solid #D8D7EE;
}
.footer-card_img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-card_img img {
    width: 100%;
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1000px) {
  header, footer {
    height: 90px;
  }
  .container {
    padding: 0 80px;
  }
  .hero {
    padding-top: 44px;
    padding-bottom: 30px;
    background: linear-gradient(167.68deg, #15006B 23.27%, #469BFF 91.04%);
    position: relative;
  }
  .hero-img {
    display: none;
  }
  .hero-img--desktop {
    display: block;
    width: 50%;
  }
  .hero-img--desktop img {
    width: 100%;
  }
  .hero-section {
    width: 49%;
  }
  .hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .hero-title {
    font-weight: 700;
    font-size: 50px;
    line-height: 80px;
  }
  .hero-list {
    max-width: 700px;
  }
  .hero-list_item {
    min-height: 50px;
  }
  .hero-list_item-icon {
    margin-top: 6px;
  }
  .hero-list_item-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    margin-left: 15px;
  }
  .hero-card {
    max-width: 500px;
  }
  .hero-card_inbody .hero-card_market {
    display: flex;
  }
  .insights-container {
    display: block;
  }
  .insights-subcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main-title {
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 40px;
  }
  .main-subtitle {
    width: 50%;
    font-size: 20px;
  }
  .inbody-container {
    /*display: flex;*/
    justify-content: space-between;
  }
  .main-service {
    display: flex;
    justify-content: space-between;
  }
  .main-service_item {
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
  }
  .main-service_item-icon {
    width: 100px;
  }
  .main-service_item-text {
    text-align: center;
  }
  .main-img {
    width: 400px;
    height: 210px;
  }
  .main-img img:first-child {
    width: 140px;
  }
  .main-img img:last-child {
    width: 190px;
    margin-top: -26px;
  }

  .inbody-subcontainer {
    display: flex;
    justify-content: space-between;
  }
  .main-inbody_card {
    max-width: 48%;
    min-height: initial;
    height: 270px;
    padding-bottom: 15px;
  }
  .main-inbody_card-img {
    width: 100%;
    height: 130px;
    object-fit: cover;
    object-position: 0px -40px;
  }
  .main-inbody-icons {
    width: 55%;
  }
  .main-inbody_card-text {
    margin-top: 0;
    font-size: 16px;
    line-height: 22px;
  }
  .hero-card_inbody {
    height: 250px;
    width: 45%;
  }
  .hero-card_inbody .hero-card_market {
    display: flex;
  }
  .hero-card_title {
    font-size: 23px;
    line-height: 40px;
  }
  .main-advantages {
    max-width: 1000px;
    margin: 50px auto;
  }
  .main-advantages_card-img {
    min-height: 90px;
    min-width: 120px;
    max-width: 120px;
  }
  .main-info {
    max-width: 1200px;
    margin: 50px auto;
    text-align: center;
    font-size: 24px;
    line-height: 36px;
  }
  .footer-container {
    display: flex;
    justify-content: center;
    margin: 100px auto;
  }
  .footer-card {
    display: inline-flex;
    border-radius: 25px;
    max-width: 1000px;
    margin: 0 auto;
  }
  .footer-card_img {
    width: 50%;
  }
  .footer-card_img img {
    border-radius: 25px;
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
  .footer-card_content {
    padding: 100px 40px;
  }

}

